<?xml version="1.0"?>
<launch>

    <arg name="hardware_interface" default="EffortJointInterface" />
    <arg name="robot_name" default="exo_simple" />
    <arg name="model" default="exo_simple"/>
    <arg name="gui" default="false"/>

    <include file="$(find exoskeleton_gazebo)/launch/exo_world.launch">
        <arg name="gui" value="$(arg gui)" />
        <arg name="model" value="$(arg model)" />
    </include>


    <!-- Load controllers -->
    <group ns="$(arg robot_name)">

        <include file="$(find exoskeleton_control)/launch/exo_control.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="controllers" value="arm_1_joint1_torque_controller
                 arm_1_joint2_torque_controller
                 arm_2_joint1_torque_controller
                 arm_2_joint2_torque_controller"/>
            <!-- <arg name="robot_name" value="$(arg robot_name)" /> -->
            <!-- <arg name="model" value="$(arg model)" /> -->
        </include>

    </group>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
      respawn="false" output="screen">
      <remap from="/joint_states" to="/exo_simple/joint_states" />
    </node> -->

    <!-- Launch rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find exoskeleton_gazebo)/config/exo_config.rviz" />

</launch>
